/* bigscreen three_col_grail */
@media only screen and (min-width:1025px) {

}

/* tablet_landscape three_col_grail */
@media only screen and (min-width:769px) and (max-width:1024px) {
}

/* tablet_portrait one_col_vert */
@media only screen and (min-width:481px) and (max-width:768px) {
  .photos-album-grid .photos-image-list-view,
  .photos-grid .views-view-grid .views-col {
    width: 50% !important;
  }
}

/* smartphone_landscape one_col_vert */
@media only screen and (min-width:321px) and (max-width:480px) {
  #header .region-header {
    position: relative;
    top: 0;
    right: 0;
  }
}

/* smartphone */
@media only screen and (max-width:480px) {
  .photos-album-grid .photos-image-list-view,
  .photos-grid .views-view-grid .views-col {
    width: 100% !important;
  }
}
