body {
  font-family: 'Lato', sans-serif;
  background: #0a0a0a;
  font-size: 14px;
  color: #ccc;
}
* {
  box-sizing: border-box;
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
}
.site-logo img {
  width: auto;
}
a {
  color: #ddd;
}
a:hover {
  color: #fff;
}
ul.primary li a,
li a.active {
  color: #333;
}

code {
  display: block;
  padding: 5px;
  color: #000;
  border: 1px dashed #333;
  white-space: pre-wrap;
  background: #ccc;
}

table {
  width: 98%;
  margin: 0 auto;
}
tr.even {
  background: #333;
}
tr.odd {
  background: #555;
}
.photos_ajax_hover,
tr.selected td {
  background: #ebecb9;
}
.photos_ajax_hover,
tr.selected td,
tr.selected td a {
  color: #000;
}

div.site-name {
  display: inline;
}

#block-photos-demo-branding {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}
#block-photos-demo-branding img {
  vertical-align: middle;
}
#block-photos-demo-branding a:link {
  text-decoration: none;
}

footer,
#footer {
  padding: 10px 0;
}
footer ul,
#footer ul {
  margin: 0;
  padding: 0;
}
footer ul li,
#footer ul li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}
#footer .menu--account,
footer #block-photos-demo-account-menu,
#footer #block-system-main-menu {
  float: right;
}
#block-photos-demo-powered,
footer #block-photos-demo-footer,
footer #block-photos-demo-main-menu-menu {
  float: left;
}

/* Photos grid */
.photos-grid {
  margin: 0 auto;
}
.photos-grid * {
  box-sizing: border-box;
}
.photos-grid a {
  text-decoration: none;
}
.photos-grid img {
  width: 103%;
  max-width: 110%;
  margin-left: -1.5%;
  display: block;
  height: auto;
}
.photos-grid .views-view-grid .views-col {
  overflow: hidden;
  padding: 0 3px;
}
.photos-grid .views-field-cover-id {
  padding: 3px;
  position: relative;
}
/* Front page */
.path-frontpage .node-teaser .photos_imagehtml {
  width: 100%;
}
.path-frontpage .node-teaser .photos_imagehtml img,
.path-frontpage .views-responsive-grid .views-column .views-field img {
  width: 100%;
  max-width: 500px;
  height: auto;
  float: left;
  margin: 0;
}
.path-frontpage .views-responsive-grid .views-column {
  width: 48%;
}
.path-frontpage .views-responsive-grid .views-row {
  width: 50%;
}
.path-frontpage h1 {
  display: none;
}

/* Img overlay */
.path-frontpage .photos-img-overlay,
.photos-grid .photos-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.7;
  background: #000;
  cursor: pointer;
  z-index: -1;
}
.path-frontpage .photos-hover .photos-img-overlay,
.photos-grid .photos-hover .photos-img-overlay {
  display: block;
  z-index: 5;
}
.photos-grid .views-col .views-field-cover-id {
  overflow: hidden;
}
.photos-grid h2,
.photos-grid .photos-hover h2,
.photos-grid .photos-hover .photos-title {
  position: absolute;
  bottom: -25px;
  width: 100%;
  display: block;
  text-align: center;
  z-index: 50;
  text-transform: uppercase;
  font-size: 1.071em;
  font-weight: bold;
  opacity: 0;
}
.photos-grid .photos-hover img {
  border-color: #333;
}
.path-frontpage .photos-hover h2 a,
.path-frontpage .photos-hover .photos-title a {
  text-decoration: none;
}

/* Album page */
.photos-album-grid .row::after {
  content: "";
  clear: both;
  display: block;
}
.photos-album-grid .photos-image-list-view {
  width: 25%;
  float: left;
  overflow: hidden;
  padding: 2px;
}
.photos-album-grid .views-col {
  padding: 2px;
}
.photos-album-grid .views-col img,
.photos-album-grid .photos-image-list-view img {
  height: auto;
  padding: 1px;
  border: 1px solid #ccc;
}
.photos-album-grid .photos-image-list-view * {
  max-width: 100%;
}

/* Image page */
#image-load .photos-image {
  min-height: 650px;
}
#image-load .photos-image img {
  width: 100%;
  height: auto;
}

/* Photos pager @todo move to separate CSS files */
.photos-pager {
  background: #222;
  padding: 5px 0;
  margin: 0 0 10px 0;
}
.photos-pager img {
  padding: 2px;
  border: 1px solid #ccc;
}
.photos-pager .photos-pager-image img {
  max-width: 95%;
}
.photos-block-pager-center img {
  margin: 0 2px;
}
.photos-block-pager-left img:hover,
.photos-block-pager-right img:hover {
  border-color: #fff;
}

.photo-link-pager {
  position: relative;
  min-height: 20px;
  margin-top: 5px;
}
.photo-link-pager .photo-pager-left {
  position: absolute;
  left: 5px;
}
.photo-link-pager .photo-pager-right {
  position: absolute;
  right: 5px;
}
