{#
/**
 * @file
 * Formats album layout.
 */
#}
{% if album.album_url is not empty or album.node_edit_url is not empty %}
<div class="photos-album-menu">
  {% if album.access.edit %}
    {{ album.node_edit_url }}
    {{ album.image_management_url }}
  {% endif %}
</div>
{% endif %}
{% if node_type == 'photos' %}
  <div class="photos-album-header">
    <div class="photos-album-right">
      {% trans %}
        {{ node.album.count }} image
      {% plural node.album.count %}
        {{ node.album.count }} images
      {% endtrans %}
      <div class="submitted">
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
      </div>
    </div>
  </div>
{% endif %}

{{ album.links }}

{{ pager }}

<div class="photos-album-grid">
  <div class="row row-0">
    {% for view in album.view %}
      {{ view }}
      {% if loop.index % 4 == 0 %}
        </div>
        <div class="row {{ 'row-' ~ loop.index // 4 }}">
      {% endif %}
    {% endfor %}
  </div>
</div>

{{ pager }}
